<section class="container-fluid gray">
  <div class="container">
  <div class="row">
    <div class="col col--12-of-12">
      <div class="aboutbox">
      <h1 class="spacing">Melon UX/UI team.</h1>
      <p>Anna Notovska, Ali Abdala, Nadya Nikolova and Ivan Savkov are part of the UX/UI and Visual Design Team at Melon. They’re supervised by Valentin Velikov and aided by Margarita Ivanova.</p>

<p>While Ani and Ali are visual designers, Ivan and Nadya are UX designers. The two of them describe their work as building a rocket from scratch. Usually the client says: “I want a rocket to fly to Jupiter.”  And together they specify if he’s going to fly alone, with how much luggage, whether he’s coming back to Earth, etc. When the rocket is ready, they test it with a monkey or Laika... until it’s ready to be flown by the client. When the only questions Nadya and Ivan hear are like “Can we make this button more round”, Ali or Ani step in and make the mobile or web app beautiful and engaging.  </p>

<p>Ani has been with Melon for 8 years, Ali and Nadya started in March and Ivan – in May. Ali saw a friend’s post on Facebook, and Nadya and Ivan don’t recall how they arrived at Melon’s site and the UX/UI job ad. What they remember though is the interview with Valentin – Melon’s head of the design department. “It was a conversation about design, approaches and processes, rather than an interview about my strengths and weaknesses,” Nadya says. “Mine was more than two hours,” Ivan adds. “The longest interview in my life.”
</p>

<p>Ani’s been a web and graphic designer for 6 years, when in 2007 a friend recommended Melon as a work environment. Previously, Ivan was an art director and Nadya worked at start-ups, where she specialized in user interface. “I was a petty thief,” Ali says. No, he wasn’t, he’s kidding. Immediately after graduating from the National Art Academy, he started at an advertising agency where he stayed 7 years.</p>

<p>At Melon, Ani’s been working on all type of design projects for web and mobile apps, for small and huge companies. Her favorite project is for an online jewelry store that lasted “many years”. </p>

<p>Ivan is currently working on an ERP system and has just finished a GPS mobile app. Nadya and Ali have been involved in digitalizing loyalty cards, rebranding a real estate agency (including new apps, as well as the website front- and back-end), a Canadian educational website and a system for organizing horse shows.</p>

<p>Nadya continues to enjoy the most her work on start-up projects. The clients are open to innovations and creative solutions. Ivan wishes for projects with clients who know exactly what they want.  “Yes, the shorter and the more concise a brief is, the better the clients know what their goals are,” Nadya says. And for the moment, Ali is very happy with supporting visually the projects of the rest of the designers.</p>

<p>At Melon, Nadya would like to learn how to communicate with clients the way Valentin does – enchanting them and leaving them speechless. Ali says he’s already learning a lot and developing his graphical style. </p>

<p>Ivan wishes for more patience. And that’s exactly what Ani’s acquired for 8 years at Melon while working with a great variety of clients. She would like more interesting, design-first projects at Melon. With all her experience, Ani prefers working on brand new small projects that start from ground zero. To her, working with big corporate clients is a drag.</p>

<p>All the designers crave for more windows at the Melon headquarter office and more scooters to sprint the long corridor. But as long as there’s foosball and table tennis, it’s all good.</p>

<p>What Ani likes the most at Melon is the working environment. “It’s very human-friendly,” she says. Besides progressing professionally, she learned a lot of things about her character and could develop personally. To Ivan the best part is that Melon is just chill. </p>

<p>Here, Nadya likes the most the design team, except for when Valentin makes grammar mistakes. Ali is glad that the developers turned out to be very nice people. Before starting at Melon he thought they are an introvert and unsociable tribe. Ivan’s experience at his previous jobs was bitter too. He says working with developers was tough because their answer was always ‘no’ and he felt as if his hands were tied to his legs, which is not the case at Melon. Here the developers come and ask the designers for this and that and how they could make things cooler.</p>

<p>Another nice surprise to Ali was finding out how many people at Melon can play and sing really well. And quickly he became one of the back vocalists of Melon’s band - The Tarricates. Besides that, he’s part of another band – Macrophone, which is about to release its second album. Ali also does yoga, plays RTS games and paints. In her free time, Ani likes hiking, national folklore dancing and opera singing. “And I’m a superhero,” Nadya says. Ivan likes hanging out with friends and going out of Sofia as often as possible, preferably in the wild where he can exercise his hobby – photography.</p>

<p>By the way, the UX designer term comes very handy to Ivan when he is picking up girls. He just drops it, explains the cool things he does, because rarely anybody knows what it means, and the job is half done. Ali’s had similar experience but in a slightly different context – at his Melon interview. He remembers that Valentin talked about wireframes and information architecture and just like Ivan’s girls he stared back at him emptily. But a couple of months later, it’s all clear. Together with the rest of the UX/UI and Visual Design Team they’re crafting beautiful experiences for the end users.</p>

</div>
</div>
    <a class="ctabutton2" href="registration.html">Let's talk</a>
    </div>
  </div>
</section>
