<section class="container-fluid">
  <div class="container">

      <h2 class="center spacing">Clients</h2>

      <div class="row">
          <ul class="logos">
            <div class="col col--3-of-12">
            <li>
              <img src="img/clients/melon_logos-01.png" class="img-responsive" alt="logo">
            </li>
            </div>
            <div class="col col--3-of-12">
            <li>
              <img src="img/clients/melon_logos-02.png" class="img-responsive" alt="logo">
            </li>
            </div>
            <div class="col col--3-of-12">
            <li>
              <img src="img/clients/melon_logos-03.png" class="img-responsive" alt="logo">
            </li>
            </div>
            <div class="col col--3-of-12">
            <li>
              <img src="img/clients/melon_logos-04.png" class="img-responsive" alt="logo">
            </li>
            </div>
            <div class="col col--3-of-12">
            <li>
              <img src="img/clients/melon_logos-05.png" class="img-responsive" alt="logo">
            </li>
            </div>
            <div class="col col--3-of-12">
            <li>
              <img src="img/clients/melon_logos-06.png" class="img-responsive" alt="logo">
            </li>
            </div>
            <div class="col col--3-of-12">
            <li>
              <img src="img/clients/melon_logos-07.png" class="img-responsive" alt="logo">
            </li>
            </div>
            <div class="col col--3-of-12">
            <li>
              <img src="img/clients/melon_logos-08.png" class="img-responsive"alt="logo">
            </li>
            </div>

          </ul>


    </div>
    <a class="ctabutton2" style="background-color: white; color: black;  margin-top: 0;" href="">Full client list</a>
    </div>
  <!-- </div> -->
</section>
