<section class="poster_bg">

  <nav class="container">
    <div class="row">
      <div class="col col--12-of-12">
        <a href="index.html" class="logo"></a>
        <span class="hamburger hidedesktop" onclick="openNav()">☰</span>
        <ul class="topnav">
          <li><a href="index.html#whatwedo">What we do</a></li>
          <li><a href="work.html">Work</a></li>
          <li><a href="about.html">About</a></li>
          <!-- <li><a href="contact.html">Contact</li> -->
          <li>
             <button class="contact-btn">Contact</button>
           </li>
        </ul>
        <!-- Trigger/Open The Modal -->

      </div>
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="index.html#whatwedo">What we do</a>
      <a href="about.html">About</a>
      <a href="work.html">Work</a>
      <!-- <a href="contact.html">Contact</a> -->
        <!-- Trigger/Open The Modal -->
      <button class="contact-btn">Contact</button>

    </div>

  </nav>
