<div class="container">
  <div class="row">
    <div class="col col--6-of-12 col col--am">
      <div class="introbox">
        <h1>Melon UX/UI team makes cool things.</h1>
        <p>
          Crafted user-centered software experiences.
          We help boost user satisfaction by improving
          usability and pleasure of interacting with your product.
        </p>
        <a class="ctabutton" href="work.html">See our work</a>
      </div>
      </div>
      <div class="col col--6-of-12 col col--am">
        <img src="img/3d.png" class="img-responsive photo center-block" alt="">
      </div>

    </div>
  </div>
</div>
</section>
