<section class="container-fluid gray" id="whatwedo">
  <div class="container">
  <div class="row">
      <h2 class="center spacing">What we do</h2>

        <div class="col col--4-of-12">
        <div class="whatbox">
          <h3>Data gathering & requirements workshop</h3>
          <p class="listingtype">Research and interviews with the stakeholders to understand the audience and the objectives, to identify the most valuable features, to make design decisions and to prioritize to reach a group agreement.</p>
        </div>
        </div>

        <div class="col col--4-of-12">
<div class="whatbox">
          <h3>User stories</h3>
          <p class="listingtype">A high-level diagram representing information hierarchy and organisation of screens and their flow. The aim is to structure and organize the content of the web and mobile software so that users would easily adjust to the functionalities of the product and easily find everything they need.</p>
</div>
        </div>

        <div class="col col--4-of-12">
<div class="whatbox">
          <h3>Map and information architecture</h3>
          <p class="listingtype">15+ years of augmenting development teams for partners across a variety of industries and sizes, enabled us to establish an organic process we claim with full confidence delivers results.</p>
</div>
        </div>

        <div class="col col--4-of-12">
<div class="whatbox">
          <h3>Wireframes</h3>
          <p class="listingtype">Schematic blueprints representing the skeletal framework of every individual screen. They show structures, or dummy content and imagery, calls to action, other elements and ad placements. They lack fonts, color, and final images то allow the designers to explore content, navigation and interactions separately from visual content.</p>
</div>
        </div>

        <div class="col col--4-of-12">
<div class="whatbox">
          <h3>Usability Testing</h3>
          <p class="listingtype">A.k.a. the designers’ sanity check. It’s the observation of users’ behavior when engaging with a product in development. An integral part of the UX process, the designers use it to explore concepts, navigation, content, page layout and functionality. It's a quick and easy way to test and validate a product before fully developing it.</p>
</div>
        </div>

        <div class="col col--4-of-12">
<div class="whatbox">
          <h3>Visual Design</h3>
          <p class="listingtype">The second big phase is creating the look and feel to complement the UX solutions and to complete the amazing software experiences.</p>
</div>
        </div>
    <a class="ctabutton2" href="contact.html">Let's talk</a>
    </div>
  </div>
</section>
